@page "/"

<PageTitle>Home</PageTitle>

<h1>Hi, I'm Kyle Nunn</h1>
<h2> Also known as The Codiac Killer.</h2>
<h2> This is a change that I am making on MacBook to see if I can merge correctly back into a Windows operating system with
no merge conflicts. If I'm able to merge on github, then pull down, edit, push, then pull again to my mac, then we should be good. </h2>
<h2> Now we have unset autocrlf setting on Mac to see if we run into merge conflicts after fetching data from forked repo onto local MacBook forked repo</h2>
<i class="fa-brands fa-youtube"></i>
<i class="fa-brands fa-linkedin"></i>
<p> LOOK AT ME IM MAKING CHANGES ON THE FEATURE BRANCH!! </p>
<p> LOOK AT ME IM MAKING ANOTHER CHANGE ON THE FEATURE BRANCH </p>
<p> LOOK AT ME MAKING A CHANGE THE FEATURE BRANCH SO I CAN SEE HOW HASHES CHANGE THIS TIME</p>
<img src="substack.png"/>
<p> I'm going bad and trying to create merge conflicts with this change in the dev branch</p>
<p> IM A WILD MAN MAKING CHANGES IN FEATURE BRANCH 2 THAT IM ABOUT TO MERGE BACK INTO DEV! </p>

Welcome to my website.
