@page "/"

<PageTitle>Home</PageTitle>

<h1>Hi, I'm Kyle Nunn</h1>
<h2> Also known as The Codiac Killer.</h2>
<i class="fa-brands fa-youtube"></i>
<i class="fa-brands fa-linkedin"></i>
<img src="substack.png"/>

Welcome to my website.
